body {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 33.3%;
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000000;
    background-color: #a6a0a0;
    width: 300px;
}

.display {
    font-size: 60px;
    background-color: #ffffff;
    width: 300px;
    text-align: right;
}

.buttons {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.numberBox {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.right {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.rightRow {
    width: 100%;
}

.plus, .equals {
    height: 100px;
}

.zero {
    width: 66%
}