button {
    height: 50px;
    width: 50px;
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #000000;
    background-color: #a6a0a0;
}

.display {
    font-size: 60px;
    background-color: #ffffff;
}

.buttons {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}