body {
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

button {
    height: 75px;
    width: 33.3%;
    font-size: 25px;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #FFFFFF;
    background-color: rgba(0,0,0,255);
    width: 300px;
}

.display {
    font-size: 60px;
    background-color: #000000;
    width: 300px;
    height: 60px;
    text-align: right;
    margin-bottom: 10px;
    color: #ffffff

}

.buttons {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.numberBox {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}

.right {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.rightRow {
    width: 100%;
}

.zero {
    width: 66.6%;
    border-radius: 25%;
}

.operator {
    background-color: rgba(246,153,6,255);
    color: rgba(245,246,245,255);
}

.extra, .header, .footer {
    background-color: rgba(159,159,159,255);
    color: rgba(0,0,0,255)
}

.number {
    color: rgba(247,247,247,255);
    background-color: rgba(49,49,49,255);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    margin-top: 200px;
    flex-direction: column;
}